.container {
  padding: 25px;
  font-family: Poppins, Arial, sans-serif;
  max-width: 450px;
  margin: 50px auto;
  text-align: center;
}

.card {
  background: white;
  border-radius: 14px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
  padding: 30px;
}

.navbar {
  margin-bottom: 22px;
  display: flex;
  gap: 18px;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: #2563eb;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.25s;
}

.navbar a:hover {
  background: #2563eb;
  color: white;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #2563eb;
  margin-bottom: 12px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
  margin-top: 5px;
}

.designation {
  color: #4b5563;
  font-size: 16px;
  margin-top: 4px;
}

.section-title {
  font-size: 22px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 14px;
}

.skills {
  list-style: none;
  padding: 0;
  margin-top: 8px;
}

.skills li {
  padding: 8px;
  margin: 4px 0;
  background: #e5edff;
  border-radius: 6px;
  font-weight: 500;
  color: #1e40af;
}
